body {
    overflow: hidden;
    /* Disable scrolling */
    touch-action: none;
    /* Disable touch events */
}

#game-view {
    /* grid allows overlapping without `position` */
    display: grid;
    /* linter says firefox doesn't support the normal way */
    width: -moz-fit-content;
    width: fit-content;
    cursor: crosshair;
}

/* #game-view.edit-mode { */
.edit-mode #game-view {
    border: 3px solid #7f7f7f;
    border-width: 2px 3px 3px 2px;
}

/* z-layer */
#game-view div {
    grid-column: 1;
    grid-row: 1;
}

/* y-line(row) */
#game-view pre {
    margin: 0;
}

/* x tile */
/* #game-view pre span { */
#game-view span {
    /* roughly emulates a square for now */
    display: inline-block;
    width: 0.93rem;
    /* height: 1rem; */
    text-align: center;
}

.edit-mode #game-view span {
    border-top: 1px solid #7f7f7f;
    border-left: 1px solid #7f7f7f;
}

/* only happens in grid mode for now */
.edit-mode #game-view span:hover {
    border-top: 1px solid #ff0000;
    border-left: 1px solid #ff0000;
}

/* errors; when validation fails, etc. */
.error {
    background: #ff8888;
}

#message-log {
    /* keep multiplace spaces but still wrap */
    white-space: pre-wrap;
    margin-top: 15px;
    --border: 5px;
    --bgcolor: #1e1e1e;
    border: var(--border) solid var(--bgcolor);
    background: var(--bgcolor);
    color: #ffffff;
    /* rem is basically "one text line height" */
    height: calc(5rem + var(--border) * 2);
    overflow-y: scroll;
}

#message-log div {
    padding-left: 1.25rem;
    text-indent: -1rem;
}

@media (prefers-color-scheme: dark) {
    html, body {
        background: #1e1e1e;
        color: #ffffff;
    }
    #message-log {
        --bgcolor: #000000;
        background: var(--bgcolor);
        border-color: var(--bgcolor);
    }
}