body {
    overflow: hidden;
    /* Disable scrolling */
    touch-action: none;
    /* Disable touch events */
}

#game-view {
    /* position: relative; */
    /* grid allows overlapping without `position` */
    display: grid;
}

/* z-layer */
#game-view div {
    /* position: absolute; */
    grid-column: 1;
    grid-row: 1;
}

/* y-line(row) */
#game-view pre {
    margin: 0;
}

/* x tile */
/* #game-view pre span { */
#game-view span {
    /* roughly emulates a square for now */
    display: inline-block;
    width: 0.93rem;
    /* height: 1rem; */
    text-align: center;

    /* position: relative; */
}

/* #game-view pre span.foreground-tile {
    position: absolute;
    /* top: 0;
    left: 0; //
    inset: 0;
} */

#message-log {
    /* keep multiplace spaces but still wrap */
    white-space: pre-wrap;
    margin-top: 15px;
    --border: 5px;
    --bgcolor: #1e1e1e;
    border: var(--border) solid var(--bgcolor);
    background: var(--bgcolor);
    color: #ffffff;
    /* rem is basically "one text line height" */
    height: calc(5rem + var(--border) * 2);
    overflow-y: scroll;
}

#message-log div {
    padding-left: 1.25rem;
    text-indent: -1rem;
}

@media (prefers-color-scheme: dark) {
    html, body {
        background: #1e1e1e;
        color: #ffffff;
    }
    #message-log {
        --bgcolor: #000000;
        background: var(--bgcolor);
        border-color: var(--bgcolor);
    }
}